.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 25px;

  .title {
    margin: 0px;
  }
  .logo-container {
    width: 200px;
    margin-right: 20px;
  }
}
